body {
    width: 960px ;
    margin: auto;
}
.me {
    width: 900px;
    display: block;
    margin: auto;
}
header nav ul li {
    font-family: cursive;
    display: inline;
    padding: 10px;
    color: royalblue;
}
p {
    line-height: 40px;
}
header nav ul {
    text-align: center;
}
p span {
    color: mediumorchid;
    font: weight 700px;;

}
main nav ul li {
  color: plum;
   font-size: 20px;
   font-family:fantasy;

}